:root {
    --text-color: #f6f6f6;
    --minha-fonte: 10px;
}

* {
    margin: 0;
}

/* Header */
.header {
    background-color: var(--text-color);
}
.header .container.row {
    margin: 0 auto;
    display: flex;
    width: 90%;
}
.header div.header-contatos {
    width: 100%;
    display: flex;
    padding: 20px;
    border: 1px #d3d3d3 solid;
}
.header div.header-contatos .empresa {
    padding: 5px;
}

.header div.endereco {

}
.header div.email {

}
.header div.contato {
  background-color: var(--text-color);
}

h2 {
    color:#2a2a2a ;
    font-size: var(--minha-fonte);
    text-align: center;
    background-color: aqua;
}

.desc {
    color: #a9a9a9;
    font-weight: 400;
    font-size: 15px;
}



/* .div-class {
    color: #2e488a;
} */

/* Especificidade */
/* * {
    color: black;
} 
.first {
    color: chartreuse !important;
}
div {
    color: chartreuse;
}
#div1 {
    color: rgb(0, 8, 255);
} */


/* Pseudo element */
/* a.link-stado::after {
    content: "->  ";
    color: aqua
}

a.link-stado {
    text-decoration: none;
}

a.link-stado:hover::after {
    content: "  ->";
    color: blue
} */




/* Pseudo class */
/* a.link-stado {
    color: red;
}

a.link-stado:hover {
    color: blueviolet;
}

a.link-stado:focus {
    border: 3px solid red;
} */
/* 
div:not(.div-class) {
    color: blue;
} */



/* Attributes Selectors */
/* div[data-nome=celso] {
    color: blueviolet;
} */
/* div[class$="first"] {
    color: blue;
} */


/* Combinators */
/* header > span {
    color: brown;
} */


/* Seletores simples */
/* div.div-class.first, span.div-class, div#div3 {
    color: red;
    font-size: 30px;
} */
/* * {
    color: blueviolet;
} */